    @import url('https://fonts.googleapis.com/css?family=Lato');
    * {
        font-family: 'Lato', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    *:focus {
        outline: none;
    }

    html,
    body {
        overflow-x: hidden;
        /* display: flex; */
    }

    section {
        margin-top: 70px;
    }
    /* .container{
    display: block;
} */

    img {
        /* width: 97%; */
        /* max-width: 360px; */
        max-width: 100%;
        max-height: 100%;
    }
    /* Smartphone and smaller screen */

    @media only screen and (max-device-width: 768px) {
        /* Style nav bar */
        nav {
            position: fixed;
            width: 100%;
            top: 0;
            margin: 0 auto;
        }
        nav>ul {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: 22px;
        }
        nav>ul>li {
            list-style: none;
            text-align: center;
            text-transform: capitalize;
            border-bottom: 1px solid #a9a9a9;
            padding: 5px 15px;
            color: white;
            background-color: #2e2e2e;
            width: 85%;
        }
        nav>ul>li:last-of-type {
            border: none;
        }
        nav a {
            text-decoration: none;
            color: white;
        }
        .nav__button {
            width: 50px;
            height: 50px;
            float: right;
            margin-top: 10px;
            margin-right: 20px;
            border-radius: 25%;
            background-color: #2e2e2e;
        }
        .nav__button span {
            display: block;
            margin: 0 auto;
            width: calc(46px - 20%);
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #cdcdcd;
            border-radius: 3px;
        }
        .nav__button span:last-of-type {
            margin-bottom: 0px;
        }
        .nav__list {
            position: absolute;
            width: 100%;
            top: 80px;
            margin-top: 0px;
            height: 0px;
            transition: height 1000ms ease-in-out;
            overflow: hidden;
        }
        .nav__list--visible {
            height: 190px;
        }
        /* Hero - title*/
        .hero {
            background-image: url(img/bg-1.jpg);
            background-position: right top;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 325px;
            margin-top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 1 auto;
        }
        .hero .container {
            color: white;
            padding: 10px 15px;
            text-align: center;
        }
        .hero__title {
            text-transform: uppercase;
            font-size: 55px;
            text-shadow: 1px 3px 0px rgba(0, 0, 0, 1);
        }
        .hero__subtitle {
            font-size: 18px;
        }
        /* About section */
        .about {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* flex-wrap:nowrap; */
        }
        .container__up {
            padding: 0 15px;
            text-align: center;
            width: 100%;
        }
        .about__content {
            max-width: 360px;
            margin: 0 auto 30px;
            padding-bottom: 40px;
            background-color: rgb(243, 243, 243);
            text-align: center;
            min-height: 1px;
        }
        .about__description {
            text-align: center;
        }
        .about__title {
            font-size: 20px;
            padding: 10px;
            color: #696666;
        }
        .about__title--green {
            color: green;
        }
        .about__title--blue {
            color: blue;
        }
        .about__title--red {
            color: #d66028;
        }
        .about__description {
            padding: 20px;
            font-size: 12px;
            line-height: 1.6em;
        }
        .about__button {
            color: white;
            border: none;
            padding: 0.6em 1.5em;
            font-size: 20px;
            border-radius: 7px
        }
        .about__button--green {
            background-color: green;
        }
        .about__button--blue {
            background-color: blue;
        }
        .about__button--red {
            background-color: #d66028
        }
        .container__down {
            padding: 0 15px;
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .about__blog {
            max-width: 555px;
            padding-bottom: 40px;
            background-color: rgb(243, 243, 243);
            margin: 0 auto 30px;
            width: 100%;
        }
        .about__blog__description {
            padding: 20px 15px;
            font-size: 12px;
            line-height: 1.6em;
        }
        .container__down button {
            color: rgb(72, 72, 72);
            border: none;
            padding: 0.6em 1.5em;
            font-size: 20px;
            border-radius: 7px
        }
        /* Our services */
        .services__hero {
            background-image: url(img/bg-2.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: right top;
            background-size: cover;
            /* max-width: 1800px; */
            /* min-height: 593px; */
            height: 321px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            color: white;
        }
        .services__title {
            font-size: 35px;
            text-shadow: 1px 3px 0px rgba(0, 0, 0, 1);
            margin: 20px auto;
        }
        .services__description {
            font-size: 18px;
            line-height: 1.6em;
            padding: 0 15px;
        }
        .services__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 30px;
        }
        .services__testimonial {
            max-width: 260px;
            padding-bottom: 40px;
            background-color: rgb(243, 243, 243);
            margin: 0 auto 30px;
            width: 100%;
        }
        .testimonial__title {
            font-size: 20px;
            padding: 10px;
            color: #696666;
        }
        .testimonal__description {
            padding: 20px 15px;
            font-size: 12px;
            line-height: 1.6em;
        }
        .services__bigTestimonial {
            margin: 0 auto 30px;
            max-width: 285px;
            padding-bottom: 40px;
            background-color: rgb(243, 243, 243);
            margin: 0 auto 30px;
            width: 100%;
        }
        .services button {
            color: rgb(72, 72, 72);
            border: none;
            padding: 0.6em 1.5em;
            font-size: 20px;
            border-radius: 7px
        }
        .services__bigTestimonial button {
            margin-left: 15px;
        }
        /* Contact style */
        .contact {
            background-image: url(img/bg-3.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: right top;
            background-size: cover;
            width: 100%;
            max-width: 1800px;
            max-height: 930px;
            display: flex;
            flex-direction: column;
            padding: 20px 15px
        }
        .contact .container {
            text-align: center;
            padding-bottom: 15px;
        }
        .contact .container p {
            background-color: rgba(255, 253, 253, 0.4);
            padding: 20px 15px;
            border-radius: 15px;
        }
        .contact__title {
            color: white;
            font-size: 35px;
            text-shadow: 1px 3px 0px rgba(0, 0, 0, 1);
            margin: 20px auto;
            text-align: center;
        }
        .contect__description {
            text-align: center;
            align-items: center
        }
        .contact__form {
            /* color:black; */
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        input {
            /* color:black; */
            /* opacity:1; */
            /* text-shadow: 0px 0px 0px rgba(0, 0, 0, 1); */
            margin-bottom: 15px;
            border: none;
            background: rgba(242, 242, 242, 0.4);
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 15px;
        }
        textarea {
            /* color: black; */
            /* text-shadow: 0px 0px 0px rgba(0, 0, 0, 1); */
            margin-bottom: 15px;
            border: none;
            background: rgba(242, 242, 242, 0.4);
            width: 100%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            resize: none;
            border-radius: 15px;
        }
        input::-moz-placeholder {
            color: black;
            opacity: 1;
        }
        input::placeholder {
            color: black;
        }
        textarea::-moz-placeholder {
            color: black;
            opacity: 1;
        }
        textarea::placeholder {
            color: black;
        }
        .contact button {
            color: rgb(255, 252, 252);
            border: 1px solid white;
            padding: 0.5em 1.1em;
            font-size: 20px;
            border-radius: 7px;
            background: rgb(50, 50, 50);
        }
        /* Footer */
        .footer {
            text-align: center;
            padding: 20px 15px;
            font-style: italic;
        }
        .footer__title {
            font-size: 32px;
            padding: 10px;
            color: #696666;
        }
        .footer__description {
            font-size: 14px;
            padding: 10px;
            color: #b3b3b3;
            margin-bottom: 30px;
        }
        hr {
            margin: 20px;
        }
        .footer__copy {
            color: #666;
            font-size: 12px;
            margin-bottom: 30px;
            margin-top: 10px;
        }
    }
    /* Bigger screen and desktop */

    @media only screen and (min-device-width: 768px) {
        /* Styles */
        /* Style nav bar */
        nav {
            position: fixed;
            width: 100%;
            top: 0;
            margin: 0 auto;
        }
        nav>ul {
            margin: 0;
            padding: 0;
            background-color: #2e2e2e;
            display: flex;
            justify-content: center;
            height: 70px;
            align-items: center;
            font-size: 22px;
        }
        nav>ul>li {
            list-style: none;
            text-align: center;
            text-transform: capitalize;
            border: 1px solid #a9a9a9;
            margin: 5px;
            padding: 5px 15px;
            color: white;
        }
        nav>ul>li:hover {
            background-color: #646464;
            cursor: pointer;
        }
        nav a {
            text-decoration: none;
            color: white;
        }
        button.nav__button {
            display: none;
            visibility: hidden;
        }
        /* style the title */
        .hero {
            text-align: center;
            color: white;
            background-image: url(img/bg-1.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: right top;
            background-size: cover;
            max-width: 1800px;
            min-height: 593px;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: default;
        }
        .hero .container {
            display: flex;
            align-content: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }
        .hero__title {
            text-transform: uppercase;
            font-size: 100px;
            text-shadow: 1px 3px 0px rgba(0, 0, 0, 1);
        }
        .hero__subtitle {
            font-size: 40px;
        }
        /* About section */
        about {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
        }
        .container__up {
            display: flex;
            justify-content: space-around;
            margin: 30px;
        }
        .about__content {
            max-width: 360px;
            margin: 0 10px 30px;
            padding-bottom: 40px;
            background-color: rgb(243, 243, 243);
            text-align: center;
            min-height: 1px;
        }
        .about__description {
            text-align: center;
        }
        .about__title {
            font-size: 20px;
            padding: 10px;
            color: #696666;
        }
        .about__title--green {
            color: green;
        }
        .about__title--blue {
            color: blue;
        }
        .about__title--red {
            color: #d66028;
        }
        .about__description {
            padding: 20px;
            font-size: 12px;
            line-height: 1.6em;
        }
        .about__button {
            color: white;
            border: none;
            padding: 0.6em 1.5em;
            font-size: 20px;
            border-radius: 7px
        }
        .about__button--green {
            background-color: green;
        }
        .about__button--blue {
            background-color: blue;
        }
        .about__button--red {
            background-color: #d66028
        }
        .container__down {
            padding: 0 15px;
            text-align: center;
            width: 100%;
            /* display: flex; */
            flex-direction: row;
            /* justify-content: center; */
            align-items: flex-start;
            display: flex;
            justify-content: space-around;
            /* margin:0 30px; */
        }
        .about__blog {
            max-width: 555px;
            padding-bottom: 40px;
            background-color: rgb(243, 243, 243);
            /* margin: 0 auto 30px; */
            width: 100%;
            margin: 0 15px;
        }
        .about__blog__description {
            padding: 20px 15px;
            font-size: 12px;
            line-height: 1.6em;
        }
        .container__down button {
            color: rgb(72, 72, 72);
            border: none;
            padding: 0.6em 1.5em;
            font-size: 20px;
            border-radius: 7px
        }
        /* Our services */
        .services__hero {
            background-image: url(img/bg-2.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: right top;
            background-size: cover;
            /* max-width: 1800px; */
            /* min-height: 593px; */
            height: 321px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            color: white;
        }
        .services__title {
            font-size: 35px;
            text-shadow: 1px 3px 0px rgba(0, 0, 0, 1);
            margin: 20px auto;
        }
        .services__description {
            font-size: 18px;
            line-height: 1.6em;
            padding: 0 15px;
        }
        .services__content {
            display: flex;
            max-width: 750px;
            margin: 0 auto 30px;
            /* flex-direction: column; */
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            text-align: center;
            margin-top: 30px;
            flex: 2 1 0;
        }
        .services__testimonial {
            max-width: 260px;
            padding-bottom: 40px;
            background-color: rgb(243, 243, 243);
            margin: 0 auto 30px;
            width: 100%;
        }
        .testimonial__title {
            font-size: 20px;
            padding: 10px;
            color: #696666;
        }
        .testimonal__description {
            padding: 20px 15px;
            font-size: 12px;
            line-height: 1.6em;
        }
        .services__bigTestimonial {
            margin: 0 auto 30px;
            max-width: 720px;
            padding-bottom: 40px;
            background-color: rgb(243, 243, 243);
            margin: 0 auto 30px;
            width: 100%;
        }
        .services button {
            color: rgb(72, 72, 72);
            border: none;
            padding: 0.6em 1.5em;
            font-size: 20px;
            border-radius: 7px
        }
        .services__bigTestimonial button {
            margin-left: 15px;
        }
        /* Contact style */
        .contact {
            background-image: url(img/bg-3.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: right top;
            background-size: cover;
            width: 100%;
            max-width: 1800px;
            max-height: 930px;
            display: flex;
            flex-direction: column;
            padding: 20px 15px
        }
        .contact .container {
            text-align: center;
            padding-bottom: 15px;
        }
        .contact .container p {
            background-color: rgba(255, 253, 253, 0.4);
            padding: 20px 15px;
            border-radius: 15px;
        }
        .contact__title {
            color: white;
            font-size: 35px;
            text-shadow: 1px 3px 0px rgba(0, 0, 0, 1);
            margin: 20px auto;
            text-align: center;
        }
        .contect__description {
            text-align: center;
            align-items: center
        }
        .contact__form {
            /* color:black; */
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        input {
            /* color:black; */
            /* opacity:1; */
            /* text-shadow: 0px 0px 0px rgba(0, 0, 0, 1); */
            margin-bottom: 15px;
            border: none;
            background: rgba(242, 242, 242, 0.4);
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 15px;
        }
        textarea {
            /* color: black; */
            /* text-shadow: 0px 0px 0px rgba(0, 0, 0, 1); */
            margin-bottom: 15px;
            border: none;
            background: rgba(242, 242, 242, 0.4);
            width: 100%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            resize: none;
            border-radius: 15px;
        }
        input::-moz-placeholder {
            color: black;
            opacity: 1;
        }
        input::placeholder {
            color: black;
        }
        textarea::-moz-placeholder {
            color: black;
            opacity: 1;
        }
        textarea::placeholder {
            color: black;
        }
        .contact button {
            color: rgb(255, 252, 252);
            border: 1px solid white;
            padding: 0.5em 1.1em;
            font-size: 20px;
            border-radius: 7px;
            background: rgb(50, 50, 50);
        }
        .contact__form--left {
            width: 50%;
            margin-right: 5px;
        }
        .contact__form--right {
            width: 50%;
            margin-left: 5px;
        }
        /* Footer */
        .footer {
            text-align: center;
            padding: 20px 15px;
            font-style: italic;
        }
        .footer__title {
            font-size: 32px;
            padding: 10px;
            color: #696666;
        }
        .footer__description {
            font-size: 14px;
            padding: 10px;
            color: #b3b3b3;
            margin-bottom: 30px;
        }
        hr {
            margin: 20px;
        }
        .footer__copy {
            color: #666;
            font-size: 12px;
            margin-bottom: 30px;
            margin-top: 10px;
        }
    }

    .nav-colored {
        background-color: #646464;
    }

    .nav-transparent {
        /* `background-color: transparent; */
        background-color: #2e2e2e;
    }